<phpunit 
    bootstrap="./tests/bootstrap.php" 
    colors="true"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    stopOnFailure="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>